<table>
    <tr>
        <td><input [(ngModel)]="origin" placeholder="Flight origin"></td>
        <td><input [(ngModel)]="destination" placeholder="Flight destination"></td>
        <td><input [(ngModel)]="flightnumber" placeholder="Flight #"></td>
        <td><input [(ngModel)]="depart" placeholder="Depart"></td>
        <td><input [(ngModel)]="arrive" placeholder="Arrive"></td>
        <td><select [(ngModel)]="nonstop">
                <option value="true">true</option>
                <option value="false">false</option>
            </select>
        </td>
        <button (click)="sendFlight()">Submit</button>
    </tr>
</table>

<table>
    <tr>
        <td>Origin</td>
        <td>Destination</td>
        <td>Flight #</td>
        <td>Departure</td>
        <td>Arrival</td>
        <td>Non-Stop</td>
        <td>Update</td>
        <td>Delete</td>
    </tr>
    <tr *ngFor="let flight of flightList; let i=index">
        <td><input [(ngModel)]="flight.origin"></td>
        <td><input [(ngModel)]="flight.destination"></td>
        <td><input [(ngModel)]="flight.flightnumber"></td>
        <td><input [(ngModel)]="flight.depart"></td>
        <td><input [(ngModel)]="flight.arrive"></td>
        <td><select [(ngModel)]="flight.nonstop">
            <option value="true">true</option>
            <option value="false">false</option>
        </select>
        </td>
        <td><button (click)="update(flight)"class="update">go</button></td>
        <td><button (click)="delete(flight)" class="delete">go</button></td>
    </tr>
</table>
